@charset "UTF-8";

/* 검색창 */
#searchbox{
    background-color: rgb(237, 237, 237);
    padding: 20px 15px;
    margin-top: 10px;
    margin-bottom: 30px;
}
#searchbox table{ width: 100%; }
#searchbox table input{ width: 90%; height: 30px; }
#searchbox table div{
	width: 90%;
	height: 30px;
	background: white;
	padding: 0px 5px;
	box-sizing: border-box;
    border: 1px solid rgb(105, 105, 105);
}
#searchbox table button{
	width: 100%;
	height: 30px;
    font-weight: bold;
    color: white;
    background-color: #053E99;
    border: 0;
    border-radius: 3px;
}
/* 검색창 끝*/

.middle-content{ display: flex; justify-content: space-between; }
.side-bar{ width: 280px; padding: 0px 5px; }
.main{ width: 800px; }

/* 사이드바 */
#btn-map{
    width: 100%;
    height: 70px;
    border-radius: 3px;
    font-size: 20px;
    border: 1px solid rgb(144, 144, 144);
}

.side-bar input[name=category]{ display: none; }
.side-bar input[name=category]+label{
    display: inline-block;
    height: 35px;
    width: 250px;
    border: 1px solid black;
    line-height: 35px;
    margin-left: 10px;
    padding-left: 10px;
    margin: 5px 10px;
    border-radius: 3px;
    background-color: rgb(241, 241, 241);
    border: 1px solid rgb(206, 206, 206);
}
.side-bar input[name=category]:checked+label{
    font-weight: bold;
    color: white;
    background-color: #053E99;
}
.side-bar span{
    font-size: 18px;
	font-weight: bold;
	margin: 20px 0px 0px 10px;
}
#reset{
    font-size: 15px;
    font-weight: 100;
    color: gray;
}
.price{ width: 90px; }
input[class="price"]::-webkit-outer-spin-button,
input[class="price"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* 별점 */
#myform fieldset{
    display: inline-block; /* 하위 별점 이미지들이 있는 영역만 자리를 차지함.*/
    border: 0; /* 필드셋 테두리 제거 */
}
#myform input[type=radio]{
    display: none; /* 라디오박스 감춤 */
}
#myform label{
    font-size: 30px; /* 이모지 크기 */
    color: transparent; /* 기존 이모지 컬러 제거 */
    text-shadow: 0 0 0 rgb(175, 175, 175); /* 새 이모지 색상 부여 */
}
#myform input[type=radio]:checked ~ label{
    text-shadow: 0 0 0 #FFEA24; /* 마우스 클릭 체크 */
}
#myform fieldset{
    display: inline-block; /* 하위 별점 이미지들이 있는 영역만 자리를 차지함.*/
    direction: rtl; /* 이모지 순서 반전 */
}
/* 별점 끝 */
/* 사이드바 끝 */

/* 메인 컨텐츠 */
.radio-sort{ text-align: right; margin-bottom: 15px; }
.radio-sort>input[type=radio]{ opacity: 0; }
.radio-sort>input[type=radio]>label{
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.radio-sort>input[type=radio]:checked+label{
    font-weight: bold;
    color: #053E99;
}

.productbox{
    width: 800px;
    height: 250px;
    display: flex;
    align-items: center;
}
.productbox>div{ margin-right: 20px; }
.accommName{ font-size: 22px; font-weight: bold; }
/* 메인 컨텐츠 끝 */

hr{ margin: 20px 0px; }
.inner h4{
	font-size: 18px;
	font-weight: bold;
	margin: 20px 0px 0px 10px;
}