@charset "UTF-8";

/* 최근 본 숙소 */
.recentlyAccom{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.recentlyAccom>div{ width: 350px; }
/* 최근본 숙소 끝 */

/* 검색창 */
.top-content input[type=radio]{ opacity: 0; }
.top-content input[type=radio]>label{
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.top-content input[type=radio]:checked+label{
    font-weight: bold;
    color: #053E99;
}
#searchbox{
    background-color: rgb(237, 237, 237);
    padding: 20px 15px;
    margin-top: 10px;
}
#searchbox table{ width: 100%; }
#searchbox table input{ width: 90%; height: 30px; }
#searchbox table div{
	width: 90%;
	height: 30px;
	background: white;
	padding: 0px 5px;
	box-sizing: border-box;
    border: 1px solid rgb(105, 105, 105);
}
#searchbox table button{
	width: 100%;
	height: 30px;
    font-weight: bold;
    color: white;
    background-color: #053E99;
    border: 0;
    border-radius: 3px;
}
/* 검색창 끝*/

.accommName{ font-size: 22px; font-weight: bold; }
.hot{ display: flex; margin-bottom: 50px; }
.productbox{ margin-right: 20px; }

.inner h1{ font-size: 30px;	font-weight: bold; }
.inner h3{
	font-size: 25px;
	font-weight: bold;
	margin: 20px 0px;
}