@charset "UTF-8";

.middle-content { display: flex; justify-content: space-between; }
.side-bar { width: 280px; padding: 0px 5px; }
.main { width: 800px; }

/* 사이드바 */
.accommselectbox{
	border: 1px solid gray;
	text-align: center;
	padding: 10px;

	position: fixed;
}
.accommselectbox button{
	width: 250px;
	height: 50px;
	font-size: 18px;
	font-weight: bold;
	background-color: #053E99;
	color: white;
	border: 0;
	border-radius: 3px;
	margin-top: 20px;
}
.accommselectbox p{ font-size: 20px; }
.accommselectbox span{ font-size: 25px; font-weight: bold; }
#btn-wish{
	width: 250px;
	height: 50px;
	font-size: 18px;
	font-weight: bold;
	background-color: white;
	color: gray;
	border: 1px solid gray;
	border-radius: 3px;
	margin: 10px 0px;
}
/* 사이드바 끝 */


/* 메인 */
.top-info{ display: flex; justify-content: space-between; }
.accommName{
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 20px;
}
.top-info button{
	width: 200px;
	font-size: 20px;
	border: 1px solid gray;
	border-radius: 3px;
}
.middle-info{ display: flex; margin: 20px 0px; }
.middle-info>div{ width: 400px; }

.images{ border: 1px solid gray; }
.sub-images{ display: flex; justify-content: space-between; }

/* 인원, 날짜 재검색 */
.selectoption{ margin: 20px 0px; border: 1px solid gray; }
.researchtable{ margin: 5px 30px; }
.researchtable input, .researchtable select{ width: 90%; height: 30px; }
.researchtable button{
	width: 100px;
	height: 30px;
	border: 0px;
	border-radius: 3px;
	background-color: #053E99;
	color: white;
	font-weight: bold;
}
/* 인원, 날짜 재검색 끝 */

/* 객실 상품들 */
.accommbox{
	border: 1px solid gray;
	padding: 10px;
	margin-bottom: 10px;
}
.first{ display: flex; align-items: center; }
.second{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.second button{
	width: 60px;
	height: 40px;
	border: 0;
	border-radius: 3px;
	background-color: #053E99;
	color: white;
	font-weight: bold;
}
/* 객실 상품들 끝 */

.explanation{
	display: flex;
	padding: 10px;
	margin-bottom: 10px;
}
.title{ width: 300px; }
.title span{ font-size: 20px; }

/* 리뷰 */
.reviewtitle{ margin: 20px 0px 10px 0px; font-size: 30px; }
.reviewstar{
	display: flex;
	border: 1px solid gray;
	padding: 30px;
	justify-content: space-evenly;
	margin-bottom: 20px;
}
.reviewstar span{ font-size: 40px; font-weight: bold; }
.reviewstar div{ text-align: center; }

/* 정렬버튼 */
.radio-sort{ text-align: right; margin-bottom: 15px; }
.radio-sort>input[type=radio]{ opacity: 0; }
.radio-sort>input[type=radio]>label{
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}
.radio-sort>input[type=radio]:checked+label{
    font-weight: bold;
    color: #053E99;
}
/* 정렬버튼 끝 */

.reviewbox{
	display: flex;
	justify-content: space-between;
	margin: 20px 0px;
}
.review-content{ font-size: 20px; margin: 5px 0px; }
.tag{
	background-color: lightgray;
	margin-right: 20px;
	padding: 2px 6px;
}

/* 페이지 버튼 */
.page-bar{ text-align: center; margin: 30px; }
.page-bar li{ display: inline-block; }
.page-bar a{ font-size: 20px; margin: 0px 20px; }
/* 페이지 버튼끝 */
/* 리뷰 끝 */
/* 메인 끝 */
