<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adminMapper">

	<resultMap id="chatbotResultSet" type="chatbot">
		<result column="CHATBOT_Q" property="chatbotQ"/>
		<result column="CHATBOT_A" property="chatbotA"/>
	</resultMap>
	
	<select id="selectChatbotQ" parameterType="chatbot" resultType="_int">
		SELECT 
		       COUNT(*)
		  FROM 
		       CHATBOT
		 WHERE
		       CHATBOT_Q = #{chatbotQ}		
	</select>
	<insert id="insertChatbot" parameterType="chatbot">
		INSERT
		  INTO
		       CHATBOT
		VALUES
		       (
		       #{chatbotQ}
		       ,#{chatbotA}
		       )
	</insert>
	
	<select id="selecChatbottListCount" resultType="_int">
		SELECT 
		       COUNT(*)
		  FROM 
		       CHATBOT
	</select>
	
	<select id="selectChatbotList" resultMap="chatbotResultSet">
		SELECT
		       CHATBOT_Q
		       ,CHATBOT_A
		  FROM
		       CHATBOT
	</select>
	
	<select id="chatbotUpdateForm" parameterType="string" resultMap="chatbotResultSet" >
		SELECT 
		       CHATBOT_Q
		       ,CHATBOT_A
		  FROM
		       CHATBOT
		 WHERE
		       CHATBOT_Q = #{ originChatbotQ }
	</select>
	
	<select id="selectChatbotQUpdate" parameterType="chatbot" resultType="_int">
		SELECT
			   COUNT(*)
		  FROM
		       CHATBOT
		 WHERE
		       CHATBOT_Q = #{chatbotQ}
		   AND
		       NOT CHATBOT_Q = #{originChatbotQ}
	</select>
	
	<update id="updateChatbot" parameterType="chatbot" >
		UPDATE
		       CHATBOT
		   SET
		       CHATBOT_Q = #{chatbotQ}
		       ,CHATBOT_A = #{chatbotA}
		 WHERE
		       CHATBOT_Q = #{originChatbotQ}
	</update>
	
	<delete id="deleteChatbot" parameterType="string">
		DELETE	
		  FROM 
		       CHATBOT
		 WHERE
		       CHATBOT_Q = #{chatbotQ}
	</delete>
</mapper>