<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="businessMapper">
 
  <resultMap id="businessResultSet" type="business">
  	<result column="BUSINESS_NO" 			property="businessNo" />
  	<result column="MEM_NO" 				property="memNo" />
  	<result column="BUSINESS_NAME" 			property="businessName" />
  	<result column="ADDRESS" 				property="address" />
  	<result column="BUSINESS_ENROLLDATE" 	property="businessEnrollDate" />
  </resultMap>
  
  
  <resultMap id="roomPaymentResultSet" type="roomPayment">
  	<result column="START_DATE" property="startDate"/>
  	<result column="END_DATE" property="endDate"/>
  </resultMap>
 
	<select id="loginCompany" parameterType="_int" resultMap="businessResultSet">
		select
				business_no,
				mem_no,
				business_name,
				address,
				business_enrolldate
		  from
		  		business
		 where
		 		mem_no = #{ memNo }
	</select>


	<insert id="insertCompany" parameterType="business" >
		insert
		  into
		  		business
		  		(
		  		mem_no,		  		
		  		business_Name,
		  		business_No,
		  		address
		  		)
		 values
		 	 	(
		 	 	#{ memNo },
		 		#{ businessName },
		 		#{ businessNo },
		 		#{ address }
		 		)
	</insert>
	
	<update id="updateBusinessMember" parameterType="business">
		UPDATE
		       BUSINESS
		   SET
		       ADDRESS = #{ address }
		 WHERE
		       BUSINESS_NO = #{ businessNo }
	</update>
	
	<!-- 숙소 객실 예약날짜 확인 -->
	<select id="checkBookDate" parameterType="string" resultType="roomPaymentResultSet">
		SELECT
		       START_DATE
		       ,END_DATE
		       
		  FROM
		       ROOM_PAYMENT
		 WHERE 
		       ROOM_NO = 1
	</select>
	






































</mapper>
