<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="businessMapper">
 
  <resultMap id="businessResultSet" type="business">
  	<result column="BUSINESS_NO" 			property="businessNo" />
  	<result column="MEM_NO" 				property="memNo" />
  	<result column="BUSINESS_NAME" 			property="businessName" />
  	<result column="ADDRESS" 				property="address" />
  	<result column="BUSINESS_ENROLLDATE" 	property="businessEnrollDate" />
  </resultMap>
  
  
  <resultMap id="roomPaymentResultSet" type="roomPayment">
  	<result column="START_DATE" property="startDate"/>
  	<result column="END_DATE" property="endDate"/>
  	<result column="ACCOMM_NAME" property="accName"/>
  	<result column="ROOM_NAME" property="roomName"/>
  	<result column="MEM_NAME" property="memName"/>
  	<result column="HEAD_COUNT" property="headCount"/>
  	<result column="PRICE" property="price"/>
  	<result column="CATEGORY" property="category"/>
  </resultMap>
	
	<resultMap id="AccommResultSet" type="accomm">
	  <result column="ACCOMM_NO"       	property="accommNo" />
	  <result column="BUSINESS_NO"   	property="businessNo" />
	  <result column="ACCOMM_NAME"  	property="accommName" />
	  <result column="ADDRESS"    		property="address" />
	  <result column="LAT"    			property="lat" />
	  <result column="LNG"    			property="lng" />
	  <result column="GRADE"    		property="grade" />
	  <result column="REFUND"    		property="refund" />
	  <result column="CHECKINOUT"    	property="checkInout" />
	  <result column="END_DATE"    		property="endDate" />
	  <result column="ACCOMM_CONTENT"	property="accommContent" />
	  <result column="CATEGORY"    		property="category" />
	  <result column="AVG"    			property="avg" />
	  <result column="REVIEWCOUNT"    	property="reviewCount" />
	  <result column="ROWPRICE"    		property="rowPrice" />
	  <result column="STAR1"    		property="star1" />
	  <result column="STAR2"    		property="star2" />
	  <result column="STAR3"    		property="star3" />
	  <result column="STAR4"    		property="star4" />
	  <result column="STAR5"    		property="star5" />
	  <result column="ATTACHMENT"    	property="attachment" />
	</resultMap>
		
	<resultMap id="ActivityResultSet" type="activity">
        <result column="ACTIVITY_NO"       	property="activityNo" />
        <result column="ACTIVITY_NAME"    	property="activityName" />
        <result column="BUSINESS_NO"   		property="businessNo" />
        <result column="ACTIVITY_CONTENT"  	property="activityContent" />
        <result column="END_DATE"    		property="endDate" />
        <result column="REVIEWCOUNT"    	property="reviewCount" />
        <result column="ROWPRICE"    		property="rowPrice" />
        <result column="AVG"    			property="avg" />
        <result column="STAR1"    			property="star1" />
        <result column="STAR2"    			property="star2" />
        <result column="STAR3"    			property="star3" />
        <result column="STAR4"    			property="star4" />
        <result column="STAR5"    			property="star5" />
        <result column="ATTACHMENT"    		property="attachment" />
    </resultMap>
	
	<resultMap id="businessPaymentResultSet" type="businessPayment">
	  <result column="PAYMENT_NO"       	property="paymentNo" />
	  <result column="BUSINESS_NO"   		property="businessNo" />
	  <result column="PAYMENT_AMOUNT"  		property="paymentAmount" />
	  <result column="ACCOMM_NO"    		property="accommNo" />
	  <result column="ACTIVITY_NO"    		property="activityNo" />
	  <result column="ACCOMM_NAME"    		property="accommName" />
	  <result column="ACTIVITY_NAME"    	property="activityName" />
	  <result column="ACTIVITY_NO"    		property="activityNo" />
	  <result column="ACT_END_DATE"    		property="actEndDate" />
	</resultMap>
 
	<select id="loginCompany" parameterType="_int" resultMap="businessResultSet">
		select
				business_no,
				mem_no,
				business_name,
				address,
				business_enrolldate
		  from
		  		business
		 where
		 		mem_no = #{ memNo }
	</select>


	<insert id="insertCompany" parameterType="business" >
		insert
		  into
		  		business
		  		(
		  		mem_no,		  		
		  		business_Name,
		  		business_No,
		  		address
		  		)
		 values
		 	 	(
		 	 	#{ memNo },
		 		#{ businessName },
		 		#{ businessNo },
		 		#{ address }
		 		)
	</insert>
	
	<update id="updateBusinessMember" parameterType="business">
		UPDATE
		       BUSINESS
		   SET
		       ADDRESS = #{ address }
		 WHERE
		       BUSINESS_NO = #{ businessNo }
	</update>
	
	<!-- 숙소 객실 예약날짜 확인 -->
	<select id="checkBookDate" parameterType="_int" resultMap="roomPaymentResultSet">
		SELECT
		       TO_CHAR(START_DATE, 'YYYY-MM-DD') START_DATE
		       ,TO_CHAR(END_DATE, 'YYYY-MM-DD') END_DATE
		       
		  FROM
		       ROOM_PAYMENT
		 WHERE 
		       ROOM_NO = #{rooNo}
		   AND
		       STATUS = 'Y'
	</select>
	
	<!-- 숙소 객실 날짜별 예약정보 -->
	<select id="selectBookInfo" parameterType="roomPayment" resultMap="roomPaymentResultSet">
		SELECT
		       CATEGORY
       		   ,ACCOMM_NAME
       		   ,ROOM_NAME
		       ,MEM_NAME
		       ,HEAD_COUNT
		       ,TO_CHAR(START_DATE, 'YYYY.MM.DD') START_DATE
		       ,TO_CHAR(RP.END_DATE, 'YYYY.MM.DD') END_DATE
		       ,RP.PRICE
		  FROM
		       ROOM_PAYMENT RP
		  JOIN
		       ACCOMM USING(ACCOMM_NO)
		  JOIN
		       ROOM USING(ROOM_NO)
		  JOIN 
		       MEMBER USING(MEM_NO)
		 WHERE
		       START_DATE <![CDATA[ <= ]]> #{chooseDate}
		   AND
		       RP.END_DATE > #{chooseDate}
		   AND
		       ROOM_NO = #{roomNo}
		   AND
		       RP.STATUS = 'Y'
	</select>

	<!-- bp 보내서  BUSINESS_PAYMENT테이블 INSERT	- 반환값 int -->
	<insert id="updateBusinessPayment" parameterType="businessPayment">
		INSERT
		  INTO
		  		BUSINESS_PAYMENT
		  		(
		  	 	 PAYMENT_NO
		  		,BUSINESS_NO
		  		,PAYMENT_AMOUNT
		  		,ACCOMM_NO
		  		,ACTIVITY_NO
		  		)	  		
		VALUES
				(
				 SEQ_BUPNO.NEXTVAL
				,#{ businessNo }
				,3000000
				,#{ accommNo }
				,#{ activityNo }
				)				  		
	</insert>

	<!-- accommNo 보내서 ACCOMM 테이블의 만료일자 업데이트 (END_DATE + 1년) - UPDATE - 반환값 int -->
	<update id="updateAccommEndDate" parameterType="_int">
		UPDATE
                ACCOMM
		   SET
                END_DATE = END_DATE + (INTERVAL '1' YEAR)
		 WHERE
                ACCOMM_NO = #{ accommNo }
	</update>

	<!-- activityNo 보내서 ACCOMM 테이블의 만료일자 업데이트 (END_DATE + 1년) - UPDATE - 반환값 int -->
	<update id="updateActivityEndDate" parameterType="_int">
		UPDATE
                ACTIVITY
		   SET
                END_DATE = END_DATE + (INTERVAL '1' YEAR)
		 WHERE
                ACTIVITY_NO = #{ activityNo }
	</update>



























</mapper>
