<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="productMapper">

	<resultMap id="ActivityResultSet" type="activity">
        <result column="ACTIVITY_NO"       property="activityNo" />
        <result column="ACTIVITY_NAME"    property="activityName" />
        <result column="BUSINESS_NO"   property="businessNo" />
        <result column="ACTIBITY_CONTENT"  property="activityContent" />
        <result column="END_DATE"    property="endDate" />
    </resultMap>
    
    <resultMap id="AccommResultSet" type="accomm">
        <result column="ACCOMM_NO"       property="accommNo" />
        <result column="BUSINESS_NO"   property="businessNo" />
        <result column="ACCOMM_NAME"  property="activityContent" />
        <result column="ADDRESS"    property="address" />
        <result column="LAT"    property="lat" />
        <result column="LNG"    property="lng" />
        <result column="GRADE"    property="grade" />
        <result column="REFUND"    property="refund" />
        <result column="CHECKINOUT"    property="checkInout" />
        <result column="ACCOMM_CONTENT"    property="accommContent" />
        <result column="CATEGORY"    property="category" />
    </resultMap>

	<select id="selectActList" resultMap="ActivityResultSet">
		SELECT
			   ACTIVITY_NO
			  ,ACTIVITY_NAME
			  ,BUSINESS_NO
			  ,ACTIBITY_CONTENT
			  ,END_DATE
		  FROM
		  	   ACTIVITY
	</select>
	
	
	<!-- 숙소 집어넣기 -->
	
	
	
	
	
	
	
	
	
	
	
	
	
	<!-- 숙소 첨부파일 집어넣기 -->
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	

</mapper>