<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd" >

<configuration>

    <settings>
        <setting name="jdbcTypeForNull" value="NULL" />
    </settings>
    
	<typeAliases>
    	<typeAlias type="com.jl.helloing.member.model.vo.Member" 		alias="member" />
    	<typeAlias type="com.jl.helloing.admin.model.vo.Chatbot" 		alias="chatbot" />
    	<typeAlias type="com.jl.helloing.business.model.vo.Business" 	alias="business" />
    	<typeAlias type="com.jl.helloing.member.model.vo.AccommWish" 	alias="accommwish" />
    	<typeAlias type="com.jl.helloing.product.model.vo.Activity" 	alias="activity" />
    	<typeAlias type="com.jl.helloing.member.model.vo.ActivityWish" 	alias="activitywish" />
    	<typeAlias type="com.jl.helloing.product.model.vo.Ticket" 		alias="ticket" />
    	<typeAlias type="com.jl.helloing.product.model.vo.Accomm" 		alias="accomm" />
    	<typeAlias type="com.jl.helloing.common.model.vo.Attachment" 	alias="attachment" />
    	<typeAlias type="com.jl.helloing.member.model.vo.Planner" 	alias="planner" />
    	<typeAlias type="com.jl.helloing.member.model.vo.Plan" 	alias="plan" />
    </typeAliases>

	<mappers>
		<mapper resource="/mappers/member-mapper.xml" />
		<mapper resource="/mappers/admin-mapper.xml" />
		<mapper resource="/mappers/business-mapper.xml" />
		<mapper resource="/mappers/product-mapper.xml" />
	</mappers>
    
</configuration>
